*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg,white,purple);
}
.Timers{
  text-align: center;
  margin: 12rem;
  border: .4rem solid black;
  padding: 5rem  0;
  width: 27vw;
  border-radius: 100%;
  background: linear-gradient(270deg,gray,silver,gray);
  box-shadow: 0 0 10px black;
}
span{
  font-size: xx-large;
  color: white;
  text-shadow: 0 0 5px rgb(235, 53, 53);
}
h2{
  margin-bottom: 20px;

}
.text{
  margin-top: 20px;
}
button{
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px 20px;
  color: white;
  background: orange;
  cursor: pointer;
  border-radius: 10px;
}
button:hover{
  background: white;
  color: orange;
}

